img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.details {
padding: 20px;
margin-top: -10px;
border-radius: 0 0 5px 5px;
}